.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #929292, #161616da);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    width: 24%;
    height: 20%;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    border-radius: 2rem;
    background-image: url('../../../public/nube.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.selec_pais{
    margin-left: 8rem;
    padding: 0.4rem;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #080808;
}
.selec_prov {
    margin-left: 0.5rem;
    padding: 0.4rem;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #080808;
}

.text {
    width: 92%;
    height: 12%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgba(16, 20, 231, 0.199);
    border-radius: 0.5rem;
    margin: 1rem 0.6rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.text1 {
    width: 99.3%;
    height: 10%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.096);
    border: 1px solid rgba(25, 2, 107, 0.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.data {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    display: flex;
    margin: 1rem 0.8rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.container2 {
    width: 20vw;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    margin-top: 1rem;
}

.content2 {
    margin-top: 2rem;
}

.select {
    border: none;
    padding: 0.4rem;
    border-radius: 0.3rem;
    background: #437e88;
    transition: 0.3s;
    width: 40%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #070707;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.select:focus {
    outline-color: #003cac;
    background: #7edbec;
    transition: 0.3s;
}

.imgcontainer {
    position: absolute;
    top: 11rem;
    left: 12rem;
    transform: translate(-50%, -50%);
    height: 8vh;
    width: 4vw;
    display: flex;
}

.imgcontainer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 92%;
    height: 92%;
    background-color: rgba(200, 214, 5, 0.082);
    border-radius: 2rem;
    box-shadow: inset 0 0 10px rgba(251, 255, 0, 0.493);
    animation: expand-color 6s linear infinite;
    z-index: -1;
}

@keyframes expand-color {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.5);
    }
}

.data_weather {
    border: 1px solid #02047e;
    background-color: rgba(15, 15, 15, 0.692);
    height: 50vh;
    width: 18vw;
    transform-style: preserve-3d;
    animation: rot 2s infinite ease;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(87, 87, 87, 0.158), inset 0 0 40px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    backdrop-filter: blur(20px);
}

.data_weather:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.082), inset 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.loader {
    position: relative;
    margin-top: 4rem;
    width: 110px;
    height: 30px;
    background: #25429b;
    border-radius: 100px;
}

.loader::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 10px;
    width: 30px;
    height: 30px;
    background: #216ee2;
    border-radius: 50%;
    box-shadow: 40px 0 0 20px #3549ff;
}

.snow {
    position: relative;
    margin-top: 4rem;
    display: flex;
    z-index: 1;
}

.snow span {
    position: relative;
    width: 3px;
    height: 3px;
    background: #3a81ec;
    margin: 0 2px;
    border-radius: 50%;
    animation: snowing 5s linear infinite;
    animation-duration: calc(15s / var(--i));
    transform-origin: bottom;
}

@keyframes snowing {
    0% {
        transform: translateY(0px);
    }
    70% {
        transform: translateY(100px) scale(1);
    }
    100% {
        transform: translateY(100px) scale(0);
    }
}

/* Estilos responsivos */

@media screen and (max-width: 768px) {
    .title {
        width: 60%;
        height: 15%;
        font-size: 32px;
    }

    .selec_pais{
        margin-left: 1rem;
        padding: 0.4rem;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        color: #080808;
    }
    .selec_prov {
        padding: 0.4rem;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        color: #080808;
    }

    .text {
        height: 8%;
        font-size: 14px;
        margin: 0.5rem;
    }

    .text1 {
        height: 6%;
        font-size: 12px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .data {
        font-size: 14px;
        margin: 0.5rem;
    }

    .container2 {
        width: 60vw;
    }

    .select {
        font-size: 13px;
        width: 45%;
    }

    .imgcontainer {
        top: 6.5rem;
        left: 9rem;
        height: 5vh;
        width: 9vw;
    }

    .imgcontainer::after {
        width: 88%;
        height: 88%;
    }

    .data_weather {
        height: 35vh;
        width: 50vw;
    }

    .loader {
        margin-top: 2rem;
    }

    .snow {
        margin-top: 2rem;
    }
}
